header {
    height: 70px;
}



.wrapper {
    margin-top:70px;
    overflow: hidden;
    height: calc(100vh - 70px);
}

#sidebar {
    height: 100%;
    width: 140px;
    flex-shrink: 0;
    background-color: #051e34;
    background-image:url("../img/sidebar-bg.png");
}

#minilogo img {
    width: 50px;
}

#searchbar {
    background-color: #e5e5e5;
}

#searchbar i {
    top:13px;
    left:4px;
}

#searchbar input {
    padding-left:25px;
    height: 40px;
} 

.topside ul li a:hover, .bottomside a:hover {
    background-color: #818d99;
}


@media screen and (max-width:992px) {
    #sidebar {
        width: 75px;
    }

}